/* Variables */
@font-face {
  font-family: "bahij";
  src: url(../fonts/Bahij_TheSansArabic-Plain.ttf);
  font-style: normal;
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bahij";
}

body {
  background-color: #f3f2ed;
  border: 10px solid #ffde16;
  min-height: 100vh;
  overflow: hidden;
}

.hrs {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 90%;
  overflow: hidden;
  z-index: -1;
}
.hrs hr {
  animation: hrs 10s infinite linear;
}
.hrs hr.white {
  position: absolute;
  border: 0;
  background-color: #fff;
}
.hrs hr.black {
  position: absolute;
  border: 0;
  background-color: #19181c;
}
.hrs hr.yallow {
  position: absolute;
  border: 0;
  background-color: #ffde16;
}

@keyframes hrs {
  0% {
    transform: translate(-50px);
  }
  50% {
    transform: translate(50px);
  }
  100% {
    transform: translate(-50px);
  }
}
@keyframes text-ar {
  0% {
    transform: translate(1000px);
  }
}
@keyframes text-en {
  0% {
    transform: translate(-1000px);
  }
}
.center-text {
  color: #19181c;
  font-family: "bahij";
  text-align: center;
  margin-top: 10%;
}
.center-text .logo {
  overflow: visible;
}
.center-text .logo img {
  width: 10%;
  margin-bottom: -50px;
  z-index: 3;
}
.center-text h1 {
  font-size: 180px;
  font-weight: bold;
  letter-spacing: 8px;
  display: block;
  cursor: context-menu;
}
.center-text h1.ar {
  color: #ffde16;
  margin-bottom: -100px;
  animation: text-ar 2s ease-in-out;
}
.center-text h1.en {
  color: #fff;
  position: relative;
  z-index: -1;
  animation: text-en 2s ease-in-out;
}

.lang {
  list-style: none;
  text-align: center;
  margin: 5px auto;
  padding: 0;
  font-size: 12px;
}
.lang li a {
  color: #19181c;
  font-weight: normal;
  text-decoration: none;
}
.lang li a:hover {
  color: #ffde16;
}

@media (max-width: 786px) {
  .center-text {
    margin-top: 50%;
  }
  .center-text h1 {
    font-size: 85px;
    letter-spacing: 2px;
    margin-right: 0px;
  }
  .center-text h1.ar {
    margin-bottom: -50px;
  }
  .center-text .logo img {
    width: 30%;
    margin-bottom: 20px;
  }
}
.navbar-section {
  margin-top: 50px;
}
.navbar-section nav ul {
  font-size: 12px;
  margin-right: 100px;
  margin-top: 30px;
}
.navbar-section nav ul li {
  cursor: pointer;
  margin: auto 10px;
}
.navbar-section nav ul li a {
  color: #2b2728 !important;
}
.navbar-section nav ul li a.use-connect {
  color: #ffde16 !important;
}
.navbar-section nav ul li.active a {
  color: #19181c;
  font-weight: bold !important;
}

.lang-div {
  position: absolute;
  top: 100px;
  right: 100px;
}
.lang-div a {
  color: #ffde16;
}

@media (max-width: 786px) {
  .navbar-section {
    margin-top: 20px;
  }
  .navbar-section .navbar-brand {
    width: 50%;
  }

  .lang-div {
    top: 50px;
    left: 45%;
  }
}
.intro {
  width: 100%;
  height: 100%;
  color: #ffde16;
  z-index: -1;
}
.intro h1 {
  display: block;
  letter-spacing: 20px;
  position: relative;
}
.intro h1.media {
  font-size: 170px;
  margin-top: 50px;
  font-weight: 700;
  animation: from-top 1.5s linear;
}
.intro h1.marketing {
  float: right;
  font-size: 150px;
  margin-top: -95px;
  font-weight: lighter;
  animation: from-left 1.5s linear;
}

@keyframes rec {
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 786px) {
  .intro .spicial {
    width: 30px !important;
    height: 30px !important;
    left: 150px !important;
    top: 180px !important;
  }
  .intro h1 {
    letter-spacing: 5px;
  }
  .intro h1.media {
    font-size: 50px;
    margin-top: 100px;
  }
  .intro h1.marketing {
    font-size: 50px;
    margin-top: -20px;
  }
}
@keyframes from-top {
  from {
    top: -500px;
  }
  to {
    top: 0;
  }
}
@keyframes from-left {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}
.none {
  display: none;
}

.sections {
  height: 100%;
}
.sections .about {
  width: 100%;
  height: 100%;
  position: relative;
}
.sections .about .header {
  width: 50%;
}
.sections .about .header h1 {
  margin-top: 20px;
  font-size: 230px;
  color: #ffde16;
  font-weight: bold;
}
.sections .about .header h1 span {
  display: block;
  font-size: 180px;
  width: fit-content;
  margin-left: 470px;
  margin-top: -90px;
  font-weight: 100;
  color: #19181c;
}
.sections .about .content-about {
  width: 50%;
  position: relative;
}
.sections .about .content-about p {
  width: 400px;
  line-height: 2;
  position: absolute;
  bottom: 60px;
  left: 60px;
  font-size: 14px;
  color: #6e6e6e;
}

@media (max-width: 786px) {
  .about {
    height: auto;
  }
  .about .header {
    width: 100% !important;
    display: block !important;
  }
  .about .header h1 {
    margin-left: 20px;
    font-size: 100px !important;
  }
  .about .header h1 span {
    font-size: 110px !important;
    margin-left: 160px !important;
    margin-top: -40px !important;
  }
  .about .content-about {
    width: 100% !important;
    display: block !important;
  }
  .about .content-about p {
    position: unset !important;
    width: 80% !important;
    margin: 0px auto;
  }
}
.services {
  height: 100%;
  width: 100%;
  position: relative;
}
.services .header {
  width: 49%;
  height: 80%;
  position: relative;
  bottom: 40px;
  display: inline-block;
}
.services .header h1 {
  margin-top: 20px;
  margin-right: 60px;
  font-size: 230px;
  color: #ffde16;
  font-weight: bold;
  text-align: right;
}
.services .header h1 span {
  font-size: 150px;
  font-weight: 100;
  display: block;
  width: fit-content;
  color: #19181c;
  margin-left: 50px;
  position: relative;
  bottom: 80px;
}
.services .content-services {
  width: 45%;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-left: 50px;
  bottom: 30px;
}
.services .content-services .services-list {
  margin: 30px;
}
.services .content-services .services-list ul {
  list-style: none;
}
.services .content-services .services-list ul li {
  cursor: context-menu;
  margin-bottom: 20px;
}
.services .content-services .services-list ul li h2 {
  font-size: 14px;
  color: #2b2728;
}
.services .content-services .services-list ul li p {
  width: 65%;
  font-size: 12px;
  color: #8b8b8b;
}
.services .content-services .services-list ul li:hover h2 {
  color: black;
  font-weight: bold;
}

@media (max-width: 786px) {
  body {
    overflow: visible;
    height: auto;
    min-height: 100vh;
  }

  .services {
    height: auto;
    overflow: unset;
  }
  .services .header {
    width: 100%;
    display: block;
  }
  .services .header h1 {
    font-size: 85px;
  }
  .services .header h1 span {
    font-size: 50px;
    bottom: 10px;
  }
  .services .content-services {
    width: 100%;
    display: block;
    margin: 0;
    bottom: 0;
    width: 100%;
  }
  .services .content-services p {
    width: 90% !important;
  }
}
.customers {
  height: 100%;
  width: 100%;
  position: relative;
}
.customers .header {
  width: 49%;
  height: 100%;
  position: relative;
  display: inline-block;
}
.customers .header h1 {
  margin-top: 10px;
  margin-right: 60px;
  font-size: 230px;
  color: #ffde16;
  font-weight: bold;
  text-align: right;
}
.customers .header h1 span {
  font-size: 100px;
  font-weight: 100;
  display: block;
  width: fit-content;
  color: #19181c;
  margin-left: -20px;
  position: relative;
  bottom: 90px;
}
.customers .content-customers {
  width: 50%;
  position: absolute;
  display: inline-block;
}
.customers .content-customers .customers-list {
  height: 100%;
  margin: 30px;
  margin-left: 60px;
}
.customers .content-customers .customers-list ul {
  width: 50%;
}
.customers .content-customers .customers-list ul li {
  width: 40%;
  display: inline-block;
}
.customers .content-customers .customers-list ul li div {
  width: 60px;
  height: 60px;
  margin: 15px;
}
.customers .content-customers .customers-list ul li div img {
  max-width: 100%;
}

@media (max-width: 786px) {
  .customers {
    height: auto;
    overflow: unset;
  }
  .customers .header {
    width: 100%;
    display: block;
  }
  .customers .header h1 {
    font-size: 85px;
  }
  .customers .header h1 span {
    font-size: 50px;
    bottom: 10px;
    margin-left: 50px;
  }
  .customers .content-customers {
    width: 100%;
    display: block;
    position: relative;
  }
  .customers .content-customers .customers-list {
    margin-left: 0 !important;
  }
  .customers .content-customers ul {
    width: 100% !important;
  }
  .customers .content-customers ul li div {
    width: 20px;
  }
}
.connect {
  height: 100%;
  position: relative;
}
.connect .header {
  width: 50%;
  display: inline-block;
  position: relative;
  left: -20px;
}
.connect .header h1 {
  margin-top: 50px;
  font-size: 160px;
  color: #ffde16;
  font-weight: bold;
}
.connect .header h1 span {
  font-size: 180px;
  font-weight: 100;
  display: block;
  color: #fff;
  position: relative;
  bottom: 100px;
  float: right;
  margin-right: 20px;
}
.connect .content-connect {
  width: 49%;
  display: inline-block;
}
.connect .content-connect form {
  margin-left: 50px;
}
.connect .content-connect form p.tel {
  font-size: 11px;
  margin: 25px 0;
  width: 250px;
  color: #9a9a9a;
}
.connect .content-connect form input, .connect .content-connect form textarea {
  display: block;
  width: 80%;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 2px;
  margin: 10px 0;
  font-size: 15px;
  color: #fff;
  padding: 5px 0 0 5px;
  letter-spacing: 1px;
}
.connect .content-connect form input::placeholder, .connect .content-connect form textarea::placeholder {
  font-size: 12px;
  color: #a1a1a1;
}
.connect .content-connect form .send-btn {
  display: block;
  width: auto;
  height: auto;
  color: #ffde16;
  float: left;
  margin: 10px 0 0 -15px;
  font-size: 15px;
  letter-spacing: 2px;
  border: 0;
  transform: rotate(90deg);
}

@media (max-width: 786px) {
  .connect .row {
    margin: 0;
  }
  .connect .header {
    width: 100%;
    display: block;
    left: 0;
    top: -30px;
  }
  .connect .header hr.spicial {
    top: 150px !important;
  }
  .connect .header h1 {
    font-size: 75px;
  }
  .connect .header h1 span {
    font-size: 100px;
    bottom: 50px;
  }
  .connect .content-connect {
    width: 100%;
    display: block;
    bottom: 100px;
    position: relative;
  }
}
ul {
  list-style: none !important;
}

.row {
  margin: 0 !important;
}

.active {
  color: #19181c;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  width: 100%;
  height: 100px;
}
.footer p {
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 0;
}
.footer .links {
  position: relative;
  bottom: 10px;
}
.footer .links ul {
  margin: 0;
}
.footer .links ul li {
  display: inline-block;
  margin: 0 5px;
}
.footer .links ul li a {
  font-size: 12px;
  color: #6e6e6e;
}

/*# sourceMappingURL=english-style.css.map */
