/* Variables */
// Colors
$yalloColor: #ffde16;
$blackColor: #19181c;
$brownColor: #2b2728;
$backColor: #f3f2ed;
$whiteColor: #fff;
$ofWhiteColor: #8d8d8d;
// Font sizes
$mainFontSize: 180px;
$smallFont: 85px;
// Screen Sizes
$smallScreen: 786px;

// import font 
@font-face {
  font-family: 'bahij';
  src: url(../fonts/Bahij_TheSansArabic-Plain.ttf);
  font-style: normal;
  font-weight: 100;
}
$font: 'bahij';

// mixins
@mixin hr($color) {
  position: absolute;
  border: 0;
  background-color: $color;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: $font;
}

// Start Page

body {
  background-color: $backColor !important;
  border: 8px solid $yalloColor;
  height: 100vh;
}

// Comon style for all HRs
.hrs {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 90%;
  overflow: hidden;
  z-index: -1;
  hr {
    animation: hrs 10s infinite linear;
  }
  hr.white {
    @include hr($whiteColor)
  }
  hr.black {
    @include hr($blackColor)
  }
  hr.yallow {
    @include hr($yalloColor)
  }
}

// HRs animation
@keyframes hrs {
  0% {
    transform: translate(-50px);
  }
  50% {
    transform: translate(50px);
  }
  100% {
    transform: translate(-50px);
  }
}

//Text animation
@keyframes text-ar {
  0% {
    transform: translate(1000px);
  }
}

@keyframes text-en {
  0% {
    transform: translate(-1000px);
  }
}
/////// start Hello Page /////////
.center-text {
  color: $blackColor;
  font-family: $font;
  text-align: center;
  margin-top: 10%;
  .logo {
    overflow: visible;
    img {
      width: 10%;
      margin-bottom: -50px;
      z-index: 3;
    }
  };
  h1 {
    font-size: $mainFontSize;
    font-weight: bold;
    letter-spacing: 8px;
    display: block;
    cursor: context-menu;
  };
  h1.ar {
    color: $yalloColor;
    margin-bottom: -100px;
    animation: text-ar 2s ease-in-out;
  };
  h1.en {
    color: $whiteColor;
    position: relative;
    z-index: -1;
    animation: text-en 2s ease-in-out;
  };
}
.lang {
  list-style: none;
  text-align: center;
  margin: 5px auto;
  padding: 0;
  font-size: 12px;
  li {
    a {
      color: $blackColor;
      font-weight: normal;
      text-decoration: none;
      &:hover {
        color: $yalloColor;
      }
    }
  }
}

// Media query for hello page
@media (max-width: $smallScreen) {
  .center-text {
    margin-top: 50%;
    h1 {
      font-size: $smallFont;
      letter-spacing: 2px;
      margin-right: 00px;
      &.ar {
        margin-bottom: -50px;
      }
    }
    .logo {
      img {
        width: 30%;
        margin-bottom: 20px;
      }
    }
  }
}

// Ens Hello Page


// Start Navbar

.navbar-section {
  margin-top: 50px;
  nav {
    ul {
      font-size: 12px;
      margin-right: 100px;
      li {
        cursor: pointer;
        margin: auto 10px;
        a {
          color: $brownColor !important ;
        }
        &.active {
          a {
            color: $blackColor !important;
            font-weight: bold !important;
          }
        }
      }
    }
  }
}

.lang-div {
  position: absolute;
  top: 80px;
  right: 100px;
  a {
    color: $yalloColor;
  }
}

// Media Navbar
@media (max-width: $smallScreen) {
  .navbar-section {
    margin-top: 20px;
    .navbar-brand {
      width: 50%;
    }
  }
  .lang-div {
    top: 50px;
    left: 45%;
  }
}

// End Start Navbar

// Start Media Marketing Intro
.intro {
  width: 100%;
  height: 100%;
  color: $yalloColor;
  z-index: -1;
  h1 {
    display: block;
    letter-spacing: 20px;
    position: relative;
    &.media {
      font-size: $mainFontSize - 10px;
      margin-top: 50px;
      font-weight: 700;
      animation: from-top 1.5s linear;
    };
    &.marketing {
      float: right;
      font-size: 150px;
      margin-top: -95px;
      margin-right: -20px;
      font-weight: lighter;
      animation: from-left 1.5s linear;
    }
  }
}

// Rectangle animation
@keyframes rec {
  100% {
    transform: rotate(360deg);
  }
}

// Media Query Intro
@media (max-width: $smallScreen) {
  .intro {
    .spicial {
      width: 30px !important;
      height: 30px !important;
      left: 150px !important;
      top: 180px !important;
    }

    h1 {
      letter-spacing: 5px;
      &.media {
        font-size: 50px;
        margin-top: 100px;

      }
      &.marketing {
        font-size: 50px;
        margin-top: -20px;
      }
    }
  }
}

// Animation Media Marketing
@keyframes from-top {
  from {
    top: -500px;
  }
  to {
    top: 0;
  }
}
@keyframes from-left {
  from {
    right: -500px;
  }
  to {
    right: 0
  }
}

// .show-sec {
//   transform: scale(1);
//   // animation: fadeIn 1s;
// }

.none{
  display: none;
}

// Start About Section
.sections {
  height: 100%;
  .about {
    width: 100%;
    height: 100%;
    position: relative;
    .header {
      width: 50%;
      h1 {
        margin-top: 20px;
        font-size: $mainFontSize + 50px ;
        color: $yalloColor;
        font-weight: bold;
        span {
          display: block;
          width: fit-content;
          margin-left: 300px;
          margin-top: -50px;
          font-weight: 100;
          color: $blackColor;
        }
      }
    }
    .content-about {
      width: 50%;
      p {
        width: 400px;
        line-height: 2;
        position: absolute;
        bottom: 300px;
        font-size: 14px;
        color: $ofWhiteColor;
      }
    }
  }
}

// Media query About Us
@media (max-width: $smallScreen) {
  .about {
    height: auto;
    .header {
      width: 100% !important;
      display: block !important;
      h1 {
        margin-left: 20px;
        font-size: 100px !important;
        span {
          margin-left: 180px !important;
        }
      }
    }
    .content-about {
      width: 100% !important;
      display: block !important;
      p {
        position: unset !important;
        width: 80% !important;
        margin: 0px auto;
      }
    }
  }
}

// Start Services Section

.services {
  background-color: $yalloColor;
  height: 100%;
}
.customers {
  background-color: $blackColor;
  height: 100%;
}
.connect {
  background-color: $whiteColor;
  height: 100%;
}